<html>
    <div for="newTitle" id="newTodoBox">
     <br>
      <input type="text" id="newTodoTextBox" placeholder="New Todo" [(ngModel)]="newTodoTitle" />
    </div>
    <div>
      <button class="buttons" (click)="addNew()">Add</button>
    </div>
 
  <div id="columns">
    <div id="todoColumn" class="column">
      <h2 class="title">Todo</h2>
      <app-listof-todo-items [todos]="todoItems"></app-listof-todo-items>
    </div>
    <div id="doingColumn" class="column">
        <h2 class="title">Doing</h2>
        <app-listof-todo-items [todos]="doingItems"></app-listof-todo-items>
    </div>
    <div id="DoneColumn" class="column">
      <h2 class="title">Done</h2>
      <app-listof-todo-items [todos]="doneItems"></app-listof-todo-items>
    </div>
  </div>


<router-outlet></router-outlet>
</html>